<div class="settings-container">
  <form [formGroup]="changeAccountForm">
    <div class="header">
      <div>
        <div style="height: 50px"></div>
        <div class="img-div input-group photo-size" >
          <img class="image-container"  [src]="getImageLink()">
          <mat-icon class="field-upload-btn" (click)="openPhotoDialog()" >add_a_photo</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="name-container">{{this.loggedInUserName}}</div>
        </div>
        <div style="height: 50px"></div>
        <div class="w-100"></div>
        <div class="col">
          <div class="subheading-container"><strong>User Type:</strong> {{this.loggedInUserType}}</div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="subheading-container"><strong>Email:</strong> {{this.loggedInUserEmail}}</div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="card-body">
        <div class="content">
          <div>
            <div style="text-align: center">
              <div class="selection-heading">Update Account Details</div>
            </div>
            <div style="height: 30px"></div>
            </div>
            <form [formGroup]="changeAccountForm">
              <div style="height: 10px"></div>
              <div class="row"  style="width: 950px">
                <div class="col-3">
                  <div class="field-text">Phone Number:</div>
                </div>
                <div class="col-7" style="text-align: left">
                  <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                    <input formControlName="phoneNumber" matInput maxlength="15" mask="(000) 000-0000">
                    <mat-error *ngIf="formControls.phoneNumber.invalid">Please enter a valid phone number.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                </div>
              </div>
              <div class="row"  style="width: 950px">
                <div class="col-3">
                  <div class="field-text">Address:</div>
                </div>
                <div class="col-7" style="text-align: left">
                  <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                    <input formControlName="address" matInput maxlength="64">
                    <mat-error *ngIf="formControls.address.invalid">Please enter address.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                </div>
              </div>
              <div class="row"  style="width: 950px">
                <div class="col-3">
                  <div class="field-text">City:</div>
                </div>
                <div class="col-7" style="text-align: left">
                  <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                    <input formControlName="city" matInput maxlength="64">
                    <mat-error *ngIf="formControls.city.invalid">Please enter city.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                </div>
              </div>
              <div class="row"  style="width: 950px">
                <div class="col-3">
                  <div class="field-text">Province:</div>
                </div>
                <div class="col-7" style="text-align: left">
                  <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                    <mat-select formControlName="province">
                      <mat-option *ngFor="let province of provinces | keyvalue: returnZero" value="{{province.key}}">
                        {{province.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.formControls.province.invalid">Please choose province</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                </div>
              </div>
              <div class="row"  style="width: 950px">
                <div class="col-3">
                  <div class="field-text">Postal Code:</div>
                </div>
                <div class="col-7" style="text-align: left">
                  <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                    <input formControlName="postalCode" matInput maxlength="64">
                    <mat-error *ngIf="formControls.postalCode.invalid">Please enter postal code.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <div class="row justify-content-md-center buttons" style="margin-bottom: 1rem">
                    <div class="text-center">
                      <button class="save" mat-raised-button (click)="onClickSaveButton()">SAVE</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div style="height: 10px"></div>
            <hr>
            <div style="height: 20px"></div>
            <div>
              <div style="text-align: center">
                <div class="selection-heading">Change Password</div>
              </div>
              <div style="height: 30px"></div>
              <div class="row"  style="width: 950px">
                <div class="col-10">
                  <div class="field-text-pass">Click the button to receive a link to change your password.</div>
                </div>
                <div class="col-2">
                  <div class="row justify-content-md-center buttons" style="margin-bottom: 1rem">
                    <div class="text-center">
                      <button class="reset" mat-raised-button (click)="onClickResetButton()">RESET PASSWORD</button>
                    </div>
                    <div style="height: 10px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div style="height: 10px"></div>
  </form>
</div>
