<div class="settings-container">

    <div class="header">
      <div class="image-container">
      </div>

      <div class="row">
        <div class="col">
          <div class="name-container">Anna Smith</div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="subheading-container">User Information</div>
        </div>
      </div>

    </div>

  <div class="content-container">
<!--    <div class="card" style="width: 18rem;">-->
<!--      <img src="..." class="card-img-top" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card with stretched link</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row no-gutters bg-light position-relative">-->
<!--      <div class="col-md-2 mb-md-0 p-md-4">-->
<!--        <img src="..." class="w-100" alt="...">-->
<!--      </div>-->
<!--      <div class="col-md-6 position-static p-4 pl-md-0">-->
<!--        <h5 class="mt-0">Columns with stretched link</h5>-->
<!--        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>-->
<!--        <a href="#" class="stretched-link">Go somewhere</a>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <h4>B</h4>-->
<!--      </div>-->
<!--    </div>-->

<!--ushdsdf-->

    <div id="accordion">
      <div class="card">

        <div id="headingOne">
            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

              <div class="selection-container" (click)="showFirst=!showFirst">
              <div class="row"  style="width: 950px">
                <div class="col-2">
                  <div class="icon-container">
                    <mat-icon class="setting-icon">perm_identity</mat-icon>
                  </div>

                </div>
                <div class="col-9" style="text-align: left">
                  <div class="row">
                    <div class="selection-heading">Account</div>
                  </div>
                  <div class="row">
                    <div class="selection-subheading">Account info, change password</div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="icon-container">
                    <mat-icon class="setting-icon" *ngIf="showFirst">expand_more</mat-icon>
                    <mat-icon class="setting-icon" *ngIf="!showFirst">expand_less</mat-icon>
                  </div>
                </div>
              </div>
              </div>
            </button>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div class="content">
              <form [formGroup]="changePasswordForm">

                <div class="row"  style="padding-bottom: 10px">
                  <div class="col-3">
                    <div class="field-text">Phone Number:</div>
                  </div>
                  <div class="col-7" style="text-align: left">
                      <div class="field-text">6471231234</div>
                  </div>
                  <div class="col-2">
                  </div>
                </div>
                <div class="row"  style="padding-bottom: 10px">
                  <div class="col-3">
                    <div class="field-text">User Role:</div>
                  </div>
                  <div class="col-7" style="text-align: left">
                    <div class="field-text">Landlord</div>
                  </div>
                  <div class="col-2">
                  </div>
                </div>

                <div>
                  <hr>
                </div>

                <div class="changePassText">Change Password</div>


                <div class="row"  style="width: 950px">
                  <div class="col-3">
                    <div class="field-text">Current Password:</div>
                  </div>
                  <div class="col-7" style="text-align: left">

                      <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                        <input formControlName="currentPassword" matInput maxlength="64" [type]="hideCurrent ? 'password' : 'text'"
                               placeholder="">
                        <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hideCurrent">
                          <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formControls.currentPassword.invalid">Please enter your current password.</mat-error>
                      </mat-form-field>

                  </div>
                  <div class="col-2">

                  </div>
                </div>



                <div class="row"  style="width: 950px">
                  <div class="col-3">
                    <div class="field-text">New Password:</div>
                  </div>
                  <div class="col-7" style="text-align: left">

                      <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                        <input formControlName="newPassword" matInput maxlength="64" [type]="hideNew ? 'password' : 'text'"
                               placeholder="">
                        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hideNew">
                          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formControls.newPassword.invalid">Please enter a new password.</mat-error>
                      </mat-form-field>

                  </div>
                  <div class="col-2">

                  </div>
                </div>



                <div class="row"  style="width: 950px">
                  <div class="col-3">
                    <div class="field-text">Confirm Password:</div>
                  </div>
                  <div class="col-7" style="text-align: left">

                      <mat-form-field appearance="outline" class="col-md-10" style="padding-bottom:0 ">
                        <input formControlName="confirmPassword" matInput maxlength="64" [type]="hideConfirm ? 'password' : 'text'"
                               placeholder="">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hideConfirm">
                          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formControls.confirmPassword.invalid">Please confirm new password.</mat-error>
                      </mat-form-field>

                  </div>
                  <div class="col-2">
                    <div class="row justify-content-md-center buttons" style="margin-bottom: 1rem">
                      <div class="text-center">
                        <button class="save" mat-raised-button (click)="onClickSaveButton()">SAVE</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>

      <div style="height: 10px"></div>


      <div class="card" >
          <button class="btn" (click)="goUnits()">
            <div class="selection-container">
              <div class="row"  style="width: 950px">
                <div class="col-2">
                  <div class="icon-container">
                    <mat-icon class="setting-icon">home</mat-icon>
                  </div>
                </div>
                <div class="col-9" style="text-align: left">
                  <div class="row">
                    <div class="selection-heading">Unit</div>
                  </div>
                  <div class="row">
                    <div class="selection-subheading">View all units</div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="icon-container">
                    <mat-icon class="setting-icon">chevron_right</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </button>
      </div>


      <div style="height: 10px"></div>

      <div class="card" >
        <button class="btn" (click)="goStaff()">
          <div class="selection-container">
            <div class="row"  style="width: 950px">
              <div class="col-2">
                <div class="icon-container">
                  <mat-icon class="setting-icon">supervisor_account</mat-icon>
                </div>
              </div>
              <div class="col-9" style="text-align: left">
                <div class="row">
                  <div class="selection-heading">Staff</div>
                </div>
                <div class="row">
                  <div class="selection-subheading">Staff management</div>
                </div>
              </div>
              <div class="col-1">
                <div class="icon-container">
                  <mat-icon class="setting-icon">chevron_right</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>

  </div>

</div>
