<div class="create-property-container">
  <form [formGroup]="createPropertyForm">

    <div class="row">
      <div class="col">
        <ng-container *ngIf="!isEditMode">
          <span class="title">Create New Property</span>
        </ng-container>
        <ng-container *ngIf="isEditMode">
          <span class="title">Edit Property</span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="col d-flex justify-content-between">
          <mat-form-field appearance="outline" style="width: 65%">
            <mat-label>Property Name</mat-label>
            <input formControlName="propertyName" matInput maxlength="64" placeholder="Property Name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Number of Units</mat-label>
            <input formControlName="numUnits" matInput placeholder="Number of Units" mask="0000">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Address</mat-label>
            <input formControlName="propertyAddress" matInput maxlength="150" placeholder="Property Address" [matAutocomplete]="auto">
            <mat-spinner matSuffix *ngIf="isAddressSearchApiRunning" mode="indeterminate" diameter="17"></mat-spinner>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let prop of searchResults" [value]="prop.displayName" (onSelectionChange)="getAddress(prop)">{{ prop.displayName }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div id="map"
               leaflet
               (leafletMapReady)="initializeMap($event)"
               [leafletOptions]="options"
               (leafletClick)="onMapClick($event)">
            <div class="leaflet-bottom leaflet-left">
              <!--          <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>-->
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center buttons">
        <div class="col-md-2 text-center">
          <button class="save" mat-raised-button>SAVE</button>
        </div>
        <div class="col-md-2 text-center">
          <button class="cancel" mat-raised-button>CANCEL</button>
        </div>
      </div>

    </div>

  </form>
</div>
