.staff-list-container {
  width: 1024px;
  margin: auto;
  height: 100%;
  background-color: #fff;
  padding: 1rem 1rem;

  .title {
    font-weight: bolder;
    font-size: xx-large;
    padding: 20px;
    text-align: center;
  }
  .sub-title {
    font-weight: 400;
    font-size: medium;
    padding: 20px;
    text-align: center;
  }
  .add-staff-btn {
    background-color: #2f4550;
    color: #fff;
    width: 7rem;
    height: 3rem;
    margin-top: 5px;
  }
  .search-staff-btn {
    background-color: #2f4550;
    color: #fff;

    height: 3.25rem;
    margin-bottom: 5px;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .edit{
    color:#0cbd65;
    font-size:24px !important;
    cursor: pointer;
  }

  .delete{
    color:red;
    //display:inline;
    font-size:24px !important;
    cursor: pointer;
  }
}

.tbl-header{
  background-color: #2f4550;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.cell-txt{
  color: #ffffff;
  font-size: 16px;
}
.titles{
  padding: 20px;

  justify-content: center;
}
#close-btn {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-right: 41px;
  color: #666666;
  text-decoration: none;
  cursor: pointer;

  mat-icon {
    font-size: 45px;
    margin-top: -1.3rem;
  }

}

