<div i18n="@@prohubNavbarLogo">
  <ng-container *ngIf="size === 'large'">
    <h1>Pro<span class="blue-underline">Hub</span><span class="blue"></span></h1>
  </ng-container>
  <ng-container *ngIf="size === 'medium'">
    <h2 style="color: white"><span> <img class="logo" src="../../../assets/logo-medium.png"/></span>Pro<span class="blue">Hub</span></h2>
  </ng-container>
  <ng-container *ngIf="size === 'small'">
    <h3><span style=" margin-right: 10px;"> <img class="logo" src="../../../assets/logo-medium.png"/></span>Pro<span class="blue">Hub</span></h3>
  </ng-container>
</div>

