<div class="upload-form-container">
  <form [formGroup]="uploadFormForm">
  <!-- Header -->
  <div class="row">
    <div class="col">
      <ng-container>
        <span class="title">{{isEditMode  ? "Edit Form" : "Upload Form" }}</span>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col"><mat-divider></mat-divider></div>
  </div>
  <!-- Content -->
  <div class="content">
    <div class="row mt-4">
      <div class="col-md-4 h5 text-center align-middle">
        Uploading File:
      </div>
      <!-- File Uploaded -->
      <ng-container *ngIf="isFileUploaded">
        <div class="col-md-8 d-flex justify-content-between">
          <span style="font-size: 1.3em;">
            <mat-icon fontSet="material-icons-outlined">description</mat-icon>
            <span>{{selectedFileName}}</span>
                 <ng-container *ngIf="!isEditMode">
            <mat-icon class="close-tip" (click)="(removeFile())">close</mat-icon>
                 </ng-container>
          </span>
        </div>
      </ng-container>
      <!-- Default Choose a File Button -->
      <div class="col-md-5" [hidden]="isFileUploaded">
        <button mat-raised-button (click)="fileInput.click()" style="width: 97% !important;">
          <span>Choose a file</span>
          <input #fileInput id="fileInput" name="fileInput" type="file" accept=".pdf, .png, .jpg" (change)="onFileChange($event)" observeFiles style="display:none;" required/>
        </button>
      </div>
    </div>

    <ng-container  *ngIf="isFileUploaded">
      <div class="row mt-4">
        <div class="col-md-4 h5 text-center align-middle">
          File Name:
        </div>
          <div class="input-group col-md-5 d-flex justify-content-between">
            <input #fileNameInput (change)="onFileNameChange($event)" id="fileNameInput" name="fileNameInput" class="form-control" [value]="filename"  type="text" required>
            <span class="mt-2 ml-2 h6 input-group-addon">.{{ fileextension }}</span>
          </div>
      </div>
    </ng-container>
    <!-- Buttons -->
    <div class="row mt-4 justify-content-md-center buttons">
      <div class="ml-4 col-md-2 text-center">
        <button class="save" [disabled]="isLoading" mat-raised-button (click)="save()">{{isEditMode  ? "UPDATE" : "SAVE" }}</button>
      </div>
      <div class="ml-4 col-md-2 text-center">
        <button class="cancel" [disabled]="isLoading" mat-raised-button (click)="cancel()">CANCEL</button>
      </div>
    </div>
  </div>
  </form>
  <mat-spinner class="layout-fill spinner" layout-align="center center" [hidden]="!isLoading"></mat-spinner>
</div>
