<div class="container">

  <!-- Search -->
  <div class="row">
    <div class="col-xl-10">
      <mat-form-field appearance="outline" style="width:100%;">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search News" type="search" ng-model="q" aria-label="filter newsList">
      </mat-form-field>
    </div>
    <!-- Button -->
    <div class="col-xl-2">
      <button class="btn-upload" mat-raised-button (click)="openAddNewsDialog()">
        <mat-icon inline="true">plus</mat-icon>
      </button>
    </div>
  </div>

  <!-- news container -->
  <div class="news-container">
    <div ng-repeat="news in newsList | filter:q as results track by news.Title | filter:q as results track by news.Content">

    </div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 20px;"><h5>&copy; Copyright CodePros 2020.
    All rights reserved.</h5></div>
</div>
