.news-img {
  height: 300px;
  width: auto;
}

.news-card {
  width: 1024px;
  height: auto;
}

.icon {
  font-size: 36px;
  margin-top: 18px;
}

.news-panel {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
