html{
  overflow: hidden;
}
.img-height {
  height: 100%;
  width: 100%;
}

.img-div {
  //margin-top: 100px;
  height: 100%;
  width: 100%;
  background-color: #7abaff;
  padding: 0;
}

.container {
  width: 1024px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;;
}

.blue-underline {
  margin-top: 5px;
  border-bottom: 0.5rem solid #b8dbd9;
  width: 6rem;
  margin-left: 40%;
}

.logo {
  width: 4.5rem;
  height: 3.5rem;
  margin-top: 10px;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #2f4550;
  vertical-align: sub;
  margin-left: 0.75rem;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-div {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.subTitle {
  color: #586F7C;
  font-size: 1.5em;
  margin-top: 1rem;
  text-align: center;
}

.row-height {
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  padding: 0
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%
}

.centre-input {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #2F4550 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2F4550;
}

.checkbox-div {
  display: flex;
  margin-left: auto;
  margin-right: 45px;
  justify-content: right;
  width: 260px;
}

.div-center {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.btn-login {
  color: #fff;
  background-color: #2F4550;
  width: 120px;
  height: 45px;
}

//button.mat-button:hover {
//  background-color: #F4F4F9;
//}
