<div class="registration-container">
  <div class="container">
    <div class="header">
      <div class="row justify-content-md-center">
        <div class="col-md-auto logo-div">
          <img class="logo" src="assets/logo-dark.png" />
          <span class="title">ProHub</span>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto blue-underline"></div>
      </div>
    </div>
    <div class="content form-body">
      <form [formGroup]="registrationForm">

        <mat-radio-group formControlName="userType">
          <div class="row justify-content-md-center form-user-type">
            <div class="col-md-2 text-center">
              <mat-radio-button #personal value="personal">Personal</mat-radio-button>
            </div>
            <div class="col-md-2 text-center">
              <mat-radio-button #business value="business">Business</mat-radio-button>
            </div>
          </div>
        </mat-radio-group>

        <div class="row">

          <div class="col-md-6">

            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input  formControlName="email" matInput maxlength="100" placeholder="e.g example@email.com">
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input formControlName="firstName" matInput maxlength="64" placeholder="First Name">
                  <mat-error *ngIf="formControls.firstName.invalid">Please enter your first name.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input formControlName="lastName" matInput maxlength="64" placeholder="Last Name">
                  <mat-error *ngIf="formControls.lastName.invalid">Please enter your last name.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input formControlName="phone" matInput maxlength="15" placeholder="Phone" mask="(000) 000-0000">
                  <mat-error *ngIf="formControls.phone.invalid">Please enter a valid phone number.</mat-error>
                </mat-form-field>
              </div>
            </div>

          </div>
          <mat-divider vertical></mat-divider>
          <div class="col">



<!--            <ng-container *ngIf="personal.value === 'personal'">-->
<!--              <div class="row justify-content-md-center">-->
<!--                <div class="col-md-10">-->
<!--                  <mat-form-field appearance="outline">-->
<!--                    <mat-label>Property ID</mat-label>-->
<!--                    <input formControlName="propertyId" matInput maxlength="64" placeholder="Property ID">-->
<!--                    <mat-error *ngIf="formControls.propertyId.invalid">Please enter property ID.</mat-error>-->
<!--                  </mat-form-field>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row justify-content-md-center">-->
<!--                <div class="col-md-10">-->
<!--                  <mat-form-field appearance="outline">-->
<!--                    <mat-label>Property Key</mat-label>-->
<!--                    <input formControlName="propertyKey" matInput maxlength="64" placeholder="Property Key">-->
<!--                    <mat-error *ngIf="formControls.propertyKey.invalid">Please enter property key.</mat-error>-->
<!--                  </mat-form-field>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="this.authService.userType === 'business'">-->
              <div class="row justify-content-md-center">
                <div class="col-md-10">
                  <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput maxlength="64" placeholder="Address">
                    <mat-error *ngIf="formControls.address.invalid">Please enter address.</mat-error>
                  </mat-form-field>
                </div>
              </div>
            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>Province</mat-label>
                  <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces | keyvalue: returnZero" value="{{province.key}}">
                      {{province.value}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="this.formControls.province.invalid">Please choose province</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <mat-form-field appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input formControlName="postalCode" matInput maxlength="6" placeholder="e.g H0H0H0" mask="A0A0A0">
                  <mat-error *ngIf="formControls.postalCode.invalid">Please enter postalCode.</mat-error>
                </mat-form-field>
              </div>
            </div>

              <div class="row justify-content-md-center">
                <div class="col-md-10">
                  <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input formControlName="city" matInput maxlength="64" placeholder="City">
                    <mat-error *ngIf="formControls.city.invalid">Please enter city.</mat-error>
                  </mat-form-field>
                </div>
              </div>

<!--            </ng-container>-->

          </div>
        </div>

        <div class="row justify-content-md-center buttons" style="margin-bottom: 1rem">
          <div class="col-md-2 text-center">
            <button class="back" mat-raised-button (click)="onClickBackButton()">BACK</button>
          </div>
          <div class="col-md-2 text-center">
            <button class="create" mat-raised-button (click)="onClickCreateButton()">SAVE</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
