<div class="property-list-container">
  <form [formGroup]="propertyListForm">
    <div class="container-fluid">

      <div class="row">
        <div class="col title">
          <span>My Properties</span>
        </div>
      </div>

      <div class="row">

        <div class="col-md d-flex justify-content-between">

          <mat-form-field appearance="outline" style="width: 60%">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Search" formControlName="propertySearch" type="text" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let prop of properties" [value]="prop.name">{{ prop.name }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button class="add-prop-btn" mat-raised-button (click)="openCreateNewPropertyDialog()"><mat-icon>add</mat-icon> ADD</button>

        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-txt"> Property Name </mat-header-cell>
              <mat-cell *matCellDef="let prop" (click)="setProperty(prop)" > {{prop.name}} </mat-cell>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-txt" > Property Address </mat-header-cell>
              <mat-cell *matCellDef="let prop" (click)="setProperty(prop)" >
                {{prop.streetLine1 + ', ' + prop.streetLine2 + ', ' + prop.city +
              ', ' + prop.province + ', ' + prop.postalCode}}
              </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="cell-txt"> &nbsp;&nbsp;&nbsp;&nbsp;Action </mat-header-cell>
              <mat-cell *matCellDef="let prop" class="d-flex justify-content-between">
                <mat-icon class="edit" (click)="updateProperty(prop)">edit</mat-icon>
                <mat-icon class="delete" (click)="deleteProperty(prop)">delete</mat-icon>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="header-clr"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
      </div>



    </div>
  </form>
  <div style="display: flex; justify-content: center; margin-top: 20px;"><h5>&copy; Copyright CodePros 2020.
    All rights reserved.</h5></div>
</div>
