<div class="property-list-container">
  <div class="container-fluid">

    <div class="row">
      <div class="col title">
        <span>My Properties</span>
      </div>
    </div>

    <form [formGroup]="propertyListForm">

          <div class="row">
            <div class="col-md d-flex justify-content-between">
              <mat-form-field appearance="outline" style="width: 60%">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Search" formControlName="propertySearch" type="text" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let prop of propertyListResult">{{ prop.name }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <button class="add-prop-btn" mat-raised-button><mat-icon>add</mat-icon> ADD</button>

            </div>
          </div>

    </form>

  </div>
</div>
