
<div class="dialog-wrapper">
  <div class="dialog-content">
    <mat-toolbar>
      <app-prohub-logo style="margin-left: 30px" size="small"></app-prohub-logo>
      <span id="title-message text-center">ADD/EDIT Unit</span>
      <a id="close-btn" (click)="close()">
        <mat-icon matSuffix>close</mat-icon>
      </a>
    </mat-toolbar>
    <form [formGroup]="unitForm" class="justify-content-center form-style">
      <div class="row justify-content-center">
        <div class="col-8">
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Unit ID <span class="star">*</span></mat-label>
            <input matInput placeholder="e.g 1001" formControlName="unitId">
            <mat-error *ngIf="this.formControls.unitId.invalid">Please enter unit id</mat-error>
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Unit Name <span class="star">*</span></mat-label>
            <input matInput placeholder="e.g Suite" formControlName="unitName">
            <mat-error *ngIf="this.formControls.unitName.invalid">Please enter unit name</mat-error>
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Tenant ID <span class="star">*</span></mat-label>
            <input matInput placeholder="e.g. 2020" formControlName="tenantId">
            <mat-error *ngIf="this.formControls.tenantId.invalid">Please enter tenant Id</mat-error>
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Tenant Name<span class="star">*</span></mat-label>
            <input matInput placeholder="e.g. 2020" formControlName="tenantName">
            <mat-error *ngIf="this.formControls.tenantName.invalid">Please enter tenant name</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="btn-div">
      <button mat-button class="btn-cancel" (click)="close()">CANCEL </button>
      <button mat-button class="btn-save">SAVE</button>
    </div>
  </div>
</div>

