html{
  overflow: hidden;
}

.container {
  width: 1024px;
  height: 700px;
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.center-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* Search */
.btn-upload {
  color: #fff;
  background-color: #2F4550;
  width: 120px;
  height: 35px;
}

/* table */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
