<div class="container">

  <!-- Page Title -->
  <div class="row">
    <div class="col title">
      <span>Forms</span>
    </div>
  </div>

  <!-- Search From -->
  <div class="row">
    <div class="col-md d-flex justify-content-between">
      <!-- -->
      <form [formGroup]="" class="row col-md-12">
        <div class="col-md-8">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <!-- Button -->
        <div class="col-md-4">
          <button class="btn-upload" mat-raised-button (click)="clickUpload()"><mat-icon inline="true">add</mat-icon>UPLOAD</button>
        </div>
      </form>

    </div>
  </div>

  <!-- Forms -->
  <div class="row">
    <div class="col title">
      <span>All Forms</span>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- File Name Column -->
          <ng-container matColumnDef="filename">
            <mat-header-cell *matHeaderCellDef> File name </mat-header-cell>
            <mat-cell *matCellDef="let form">
              <!-- file icon -->
              <mat-icon fontSet="material-icons-outlined">description</mat-icon>
              {{form.filename}}
            </mat-cell>
          </ng-container>

          <!-- Creation Date Column -->
          <ng-container matColumnDef="upload_date">
            <mat-header-cell *matHeaderCellDef> Upload date </mat-header-cell>
            <mat-cell *matCellDef="let form"> {{form.upload_date}} </mat-cell>
          </ng-container>

          <!-- Size Column -->
          <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
            <mat-cell *matCellDef="let form"> {{form.size}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let form">
              <mat-icon class="edit">edit</mat-icon>
              <mat-icon class="delete">delete</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <!-- Pagenator -->
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </div>

    </div>

  </div>
  <!-- Copyright -->
  <div style="display: flex; justify-content: center; margin-top: 20px;"><h5>&copy; Copyright CodePros 2020.
    All rights reserved.</h5></div>

</div>
