.container {
  width: 1024px;
  margin: auto;
  height: 100%;
  //background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .title {
    font-weight: bolder;
    font-size: xx-large;
    margin: 2.5rem 0;
  }

  /* Search */
  .btn-upload {
    background-color: #2F4550;
    color: #fff;
    width: 7rem;
    height: 2.3rem;
  }

  /* mat table */
  .mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-cell {
    cursor: pointer;
  }

  /* mat-icon styles */
  .edit{
    color:#0cbd65;
    font-size:24px !important;
    cursor: pointer;
  }

  .delete{
    color:red;
    font-size:24px !important;
    cursor: pointer;
  }
}
