html{
  overflow: hidden;
}

.title {
  font-weight: bolder;
  font-size: xx-large;
  margin: 2.5rem 0;
}


.container {
  width: 1024px;
  height: 700px;
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.center-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* Search */
.btn-upload {
  color: #fff;
  background-color: #2F4550;
  width: 120px;
  height: 35px;
}


.edit{
  color:#0cbd65;
  font-size:24px !important;
  cursor: pointer;
}

.delete{
  color:red;
  font-size:24px !important;
  cursor: pointer;
}

table{
  width:100%;
}

.mat-cell {
  cursor: pointer;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
