.chat-list-card-container {
  height: 65px;
  padding: 0;
  width: 100%;
  background: #2f4550;
  cursor: pointer;

  .circle-base {
    border-radius: 50%;
    width: 80%;
    padding-bottom: 70%;
    margin-left: 10px;
    border: 3px solid #b8dbd9;
    //background-image:  url('/assets/account-icon.png');
    background-size: cover;
    background-color: #b8dbd9;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .image-container {
    display: inline-block;
    width: 80%;
    height: 100%;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid #b8dbd9;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .chat-info {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 5px;

    .top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 2px;

      .sender-name {
        color: #b8dbd9;
        font-size: 16px;
      }

      .sender-name-unread {
        color: #2f4550;
        font-size: 16px;
      }

      .time-sent {
        font-size: x-small;
        color: white;
      }

      .time-sent-unread {
        font-size: x-small;
        color: black;
      }
    }

    .base-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 5px;

      .unit-number {
        font-size: x-small;
        color: white;
      }

      .last-message {
        color: white;
      }

      .last-message-unread {
        color: black;
      }

      .unread-messages-num {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #0097a7;
        text-align: center;
        color: #fff;
      }
    }
  }
}
