<mat-card class="chat-list-card-container">
  <div class="row profile-image">
    <div class="col-3">
      <div class="circle-base"></div>
    </div>
    <div class="col chat-info">
      <div class="top-row">
        <div class="sender-name">Janelle Baetiong</div>
        <div class="time-sent">04:30 PM</div>
      </div>
      <div class="base-row">
        <div class="left">
          <div class="unit-number">Unit 1001</div>
          <div class="last-message">This is the last message.</div>
        </div>
        <div class="right">
          <div class="unread-messages-num">3</div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
